<div class="sindikatas">
  <div class="sindikatasOne">
    <h1>G&G sindikato diskografija</h1>
  </div>

  <div class="sindikatasTwo">
    <form method="post">

    </form>
    <ul>
      {{#each songs}}
        <div class="table">
          <li>
            <strong> #{{id}}</strong>
            <span>{{song_Name}}</span>
            <span>{{song_Album}}</span>

          </li>
        </div>
      {{/each}}
    </ul>
  </div>

  <div class="sindikatasThree">
    <h6>Norėdami koreguoti duomenis turite būti registruotas vartotojas</h6>

    <p class="mt-2">
      <a href="/login">Prisijungti esamiems vartotojams</a>
    </p>
    <p class="mt-2">
      <a href="/register">Registruotis naujiems vartotojams</a>
    </p>
  </div>
</div>